body {
    font-family: 'M PLUS 1p', sans-serif;
  }

  img {
    background-color: transparent;
  }

  .logo{
    background-color: transparent;
  }

.container span{
    color: rgb(37, 124, 41);
    font-size: x-large;
    font-weight: 700;
}
.container h1{
    color: rgb(114, 33, 33);
    font-size: x-large;
    font-weight: 700;
    margin: 0 auto;
}
.container{
 background-color: rgb(241, 209, 103);  
 height: 90px;
 align-items: center;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 90%;
margin: 0 auto;
}

#header.active{
    
}

/* 非アクティブ */
#hmb{
    width: 32px;
    height: 28px;
    cursor: pointer;
    position: relative;
    z-index: 30;
}
#hmb span{
    width: 32px;
    height: 3px;
    display: block;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    transition: .2s;
}
#hmb span:first-child{top: 0;}
#hmb span:nth-child(2){top: 12px;}
#hmb span:last-child{top: 24px;}

nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(110, 34, 34);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition-property: all;
    transition-duration: .2s;
}
nav ul li a{
    background-color: rgb(62, 112, 29);
    display: block;
    border-radius: 3px;
    margin-bottom: 16px;
    font-size: medium;
    font-weight: 300;
    color: black;
}

/* アクティブ */
.active #hmb span:first-child{
    top: 12px;
    transform: rotate(45deg);
}
.active #hmb span:nth-child(2){
    opacity: 0;
}
.active #hmb span:last-child{
    top: 12px;
    transform: rotate(-45deg);
}
.active nav{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.active::before{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    z-index: 10;
}